<div style="padding: 20px 100px">

  <strong>Status: {{status}}</strong>
  <div>
    <input [(ngModel)]="ip" type="text" name="ip" placeholder="IP of printer with WebPRNT">
    <button (click)="connectToWebPrint()" nz-button nzType="primary">Connect to WebPRNT</button>
  </div>

  <div>
    <button (click)="requestUsb()" nz-button nzType="primary">Connect to USB</button>
  </div>

  <div>
    <button (click)="print()" nz-button nzType="primary" [disabled]="status === false">Print!</button>
  </div>
</div>
